<!doctype html>
<html>
  <head>
    <title>Visualive</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/source/app.css">
    <style>body{padding-top:80px; word-wrap:break-word;}</style>
  </head>
  <body>
    <div class="container">
      <div id="status"></div>
      <div id="result"></div>
      <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Yo Shit Works Bitch... Fuck <%= social %>.</h1>
        <a href="/dashboard" class="btn btn-success btn-sm"> Dashboard</a>
        <a href="/sources" class="btn btn-success btn-sm"> Sources</a>
        <a href="/collections" class="btn btn-success btn-sm"> Collections</a>
        <a href="/displays" class="btn btn-success btn-sm"> Displays</a>
        <a href="/logout" class="btn btn-warning btn-sm"> Logout</a>
      </div>
    </div>
    <script src="js/vendor/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="js/source/main.js"></script>
  </body>
</html>
